@import "bootstrap-sprockets";
@import "bootstrap";

body {
    padding-top: 100px;
    padding-left: 55px;
    background-color: #C0C0C0;
}
.well {
    width: 250px;
    height: 425px;
}

.navbar {
    background-color: #E6C446;
}